html{
    background-color: black;
   
}

body{
  margin:0;
  color:white;
}

#game_container{
    width:650px;
    height:480px;
    border:1px solid gray;
    margin:0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr ;
}

#game_player1{
  position:relative;
  top:200px;
}
#game_player2{
  position:relative;
  top:200px;
}

#game_ball{
  width:16px;
  height:16px;
  background-color: white;
  position:relative;
  margin:0 auto;
  left:100px;
  top:100px;
}
.game_cell1{
 border-right:3px dashed gray;
 display:flex;
 justify-content:space-between;
 padding:0 16px 0 16px;
 
}

.game_cell2{
    border-left:3px dashed gray;
    display:flex;
    justify-content:space-between;
    padding:0 16px 0 16px;
   
}

.game_player{
  width:16px;
  height:80px;
  background-color: white;
 
  
}

.game_score{
    color:white;
    font-size: 48px;
}